body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding-top:100px;
    padding-bottom:100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 200px;
    border: 2px solid black;
    border-radius: 2rem;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: serif;
    font-weight:bold;
  }
  
  form {
    margin-top: 20px;
  }
  
  .input-box {
    margin-bottom: 15px;
    margin-top: 30px;
  }
  
  .input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size:13px;
  }
  
  .input-box input {
    width: calc(100% - 20px); /* Ajustare pentru padding */
    padding: 10px;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 0 auto; /* Centrează input-ul */
    display: block; /* Asigură că input-ul ia lățimea completă */
  }
  
  button {
    width: 50%; /* Setează lățimea butonului la 50% */
    padding: 10px;
    border: none;
    margin: 50px auto 0 auto; /* Centrează butonul și adaugă spațiu sus */
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    text-align: center; /* Centrează textul */
    transition: all 0.3s; /* Tranziție netedă pentru efectul hover */
    display: block; /* Asigură că butonul ia lățimea completă */
  }
  
  button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Mărește dimensiunea la hover */
  }

  .google-login-container {
    margin-top: 20px;
  }
  
  .google-login-btn {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .google-login-btn img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .google-login-btn:hover {
    background-color: #f8f8f8;
  }
  