<div class="login-container">
  <h3>Login</h3>
  <form>
    <div class="input-box">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="Email" required>
    </div>
    <div class="input-box">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="Password" required>
    </div>
    <button type="button" (click)="onLogin()">Login</button>
  </form>

  <div class="google-login-container">
    <button type="button" (click)="loginWithGoogle()" class="google-login-btn">
      <img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png" alt="Login with Google">
      Login with Google
    </button>
  </div>

  <div class="register-container">
    <p>Don't have an account?</p>
    <button type="button" (click)="goToRegister()">Register</button>
  </div>
</div>
