<router-outlet></router-outlet>
<app-sidebar></app-sidebar>
<div class="home">
        <div class="col flex align-items-center justify-content-center">
            <h3 class="title">Your Quizzes</h3>
            @if(quizzes.length > 0) {
              <p-table
                [value]="quizzes"
                [paginator]="true"
                [rows]="5"
                [rowsPerPageOptions]="[5, 10, 20]"
                [tableStyle]="{
                    'width': '55%',
                    'margin': 'auto'
                }"
              >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="cell">Title</th>
                        <th class="cell">Description</th>
                        <th class="cell">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-quiz let-rowIndex="rowIndex">
                  <tr>
                    <td class="cell">{{quiz.title}}</td>
                    <td class="cell-description">
                      {{ truncateDescription(quiz.description, 50) }} <!-- Truncate description -->
                      @if (quiz.description.length > 50) {
                        <span pTooltip="{{ quiz.description }}">
                          <i class="pi pi-info-circle"></i>
                        </span>
                      }
                    </td>
                    <td class="cell-actions">
                      <p-buttonGroup>
                        <p-button label="Delete" icon="pi pi-trash" (click)="deleteQuiz(quiz.id || '', rowIndex)"></p-button>
                        <p-button label="Edit" icon="pi pi-pencil" (click)="showDialog(rowIndex)"></p-button>
                        <p-button label="Export" icon="pi pi-eye" (click)="exportPDF(quiz.id)"></p-button>
                      </p-buttonGroup>
                      
                      <!-- Dialog for Edit (if visible) -->
                      <p-dialog header="Edit Quiz" [(visible)]="visibleDialogs[rowIndex]">
                        <app-paperwork-form [quiz]="quiz" (formSubmitted)="closeDialog($event)"></app-paperwork-form>
                      </p-dialog>
                    </td>
                  </tr>
                </ng-template>
                

              </p-table>

            }
            @else {
              <p>No quizzes found for this teacher.</p>
            }
        </div>
</div>
