.home {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  min-height: 90vh; /* Asigură că întreaga pagină ocupă cel puțin 100% din înălțimea vizibilă */
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.table-wrapper {
  width: 90%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.header-cell {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  padding: 10px;
  text-align: center; /* Centering the header text */
}

.cell {
  padding: 15px;
  font-size: 1rem;
  color: #333;
  text-align: center; /* Centering the cell content */
}

.description-cell {
  font-size: 1rem;
  color: #666;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
  text-align: center; /* Centering the description content */
}

.actions-cell {
  padding: 15px;
  text-align: center; /* Centering the actions buttons */
}

.button-group .p-button {
  margin: 0 8px; /* Adding space between buttons */
  border-radius: 20px; /* Making the corners more rounded */
  padding: 8px 15px; /* Smaller padding for smaller buttons */
  font-size: 0.8rem; /* Slightly smaller font for a compact look */
}

.action-button {
  background-color: rgb(255, 255, 255); /* Exemplu de culoare de fundal */
  color: white; /* Culoarea textului */
  border-radius: 4px; /* Colțuri rotunjite */
  padding: 10px 10px; /* Margine interioară */
}

.edit-dialog {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.no-quizzes-message {
  margin-top: 20px;
  color: #888;
  font-size: 1rem;
}

.app-footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  width: 100%; /* Face footer-ul să ocupe întreaga lățime */
  position: fixed;
  bottom: 0; /* Plasează footer-ul la baza paginii */
  left: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Adaugă o umbră subtilă la partea de sus a footer-ului */
}

.app-footer p {
  margin: 0;
  color: #333;
}

.app-footer a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.app-footer a:hover {
  text-decoration: underline;
}