<app-sidebar></app-sidebar>
<div class="upload-container">
  <p-card header="Upload your paperwork here!">
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
        <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onUpload)="onUpload($event)"
          [multiple]="true"
          [auto]="false"
          mode="advanced"
          accept="image/*"
          maxFileSize="10000000">
        </p-fileUpload>
      </div>
    </ng-template>
  </p-card>
  <p-messages></p-messages>

</div>
