<app-sidebar></app-sidebar>
<div>
  <p-card header="Upload your paperwork here!">
    <ng-template pTemplate>
      <div class="col flex align-items-center justify-content-center">
        <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onUpload)="onUpload($event)"
          [multiple]="true"
          [auto]="false"
          mode="advanced"
          accept="image/*"
          maxFileSize="10000000">
        </p-fileUpload>
      </div>
    </ng-template>
  </p-card>

  @if (msg) {
    <p-messages severity="info" styleClass="p-mt-2" [closable]="true" [value]="[{ severity: severity, summary: '', detail: msg, life: 3000}]"></p-messages>
  }

</div>
