.quiz-form-window {
  width: 100%;
  max-width: 800px;
  height: 75vh; /* Adaptează înălțimea ferestrei pentru formular */
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto; /* Adaugă scroll doar pe axa verticală */
}

form {
  display: flex;
  flex-direction: column;
}

.p-field {
  margin-bottom: 1rem;
}

.p-field label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.p-inputtext,
.p-textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.p-button {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

button.p-button:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.answer {
  margin-bottom: 1rem;
}

.answer input {
  margin-right: 0.5rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .quiz-form-window {
    max-width: 100%;
    height: 75vh; /* păstrăm înălțimea relativă */
    padding: 10px;
  }

  .p-inputtext,
  .p-textarea {
    font-size: 0.9rem;
  }

  .button-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container p-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .p-field label {
    font-size: 0.9rem;
  }

  .p-inputtext,
  .p-textarea {
    font-size: 0.8rem;
    padding: 0.6rem;
  }
}
