<router-outlet></router-outlet>
<app-sidebar></app-sidebar>
<div class="create-paperwork">
  <h2>Create Paperwork</h2>

  <form [formGroup]="quizForm">
    <div>
      <label>Title</label>
      <input formControlName="title" />
    </div>
    <div>
      <label>Description</label>
      <textarea formControlName="description"></textarea>
    </div>
    <div formArrayName="questions">
      <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
        <label>Question {{ i + 1 }}</label>
        <input formControlName="text" />
        <div formArrayName="answers">
          <div *ngFor="let answer of getAnswers(i).controls; let j = index" [formGroupName]="j">
            <label>Answer {{ j + 1 }}</label>
            <input formControlName="a_text" />
            <input type="checkbox" formControlName="is_correct" (change)="toggleCorrectAnswer(i, j)" />
          </div>
          <button type="button" (click)="addAnswer(i)">Add Answer</button>
        </div>
      </div>
      <button type="button" (click)="addQuestion()">Add Question</button>
    </div>
    <button type="submit" (click)="createQuiz()">Create Quiz</button>
  </form>
</div>
